@model RequestDetailsViewModel

<div>
    <div class="card" style=" padding: 25px 25px 25px 25px;">
        <div class="container">
            <h4>
                <b>
                    Title: @Model.Request.Title
                </b>
            </h4>
            <p>
                Author: @Model.Request.Author
            </p>

            <p>
                Date Added: @Model.Request.DateAdded
            </p>

            <p>
                Status: @Model.Request.Status
            </p>

            <p>
                Priority: @Model.Request.Priority
            </p>

            <p>
                Upvotes: @Model.Request.Upvotes
            </p>

            <p>
                Link: @Model.Request.Link
            </p>

            <p>
                Motivation: @Model.Request.Motivation
            </p>

            <p>
                Upvoted: @Model.Request.Upvoted
            </p>

            <p>
                Followed: @Model.Request.Followed
            </p>

            @if (User.IsInRole("Admin"))
            {
                if (Model.Request.Status == "AwaitingConfirmation")
                {
                    <a asp-controller="Request" asp-action="Approve" asp-route-id="@Model.Request.Id" class="btn btn-success "> <i class="bi bi-person-dash-fill"></i>Approve</a>
                    <a asp-controller="Request" asp-action="Reject" asp-route-id="@Model.Request.Id" class="btn btn-danger "> <i class="bi bi-person-dash-fill"></i>Reject</a>
                }
                else
                {
                    <a asp-controller="Request" asp-action="StatusUpdate" asp-route-id="@Model.Request.Id" class="btn btn-success "> <i class="bi bi-person-dash-fill"></i>View</a>
                }
            }
        </div>
    </div>
</div>
