@using Bookshelf.Web.Models.Requests;
@model RequestDetailsViewModel

<div>
    <div class="card" style=" padding: 25px 25px 25px 25px;">
        <div class="container">
            <h4>
                <b>
                    @Model.Request.Title
                </b>
            </h4>
            <div class="container">
                    @if (!Model.Request.Upvoted)
                    {
                        <a asp-controller="Request" asp-action="Upvote" asp-route-id="@Model.Request.Id" class="btn" style="background-color: #a2b0a4"> <i class="bi bi-person-dash-fill"></i>Upvote @Model.Request.Upvotes</a>
                    }
                    else
                    {
                    <a asp-controller="Request" asp-action="Upvote" asp-route-id="@Model.Request.Id" class="btn" style="background-color: #7fcb53; color:white; border-color:white"> <i class="bi bi-person-dash-fill"></i>Upvoted @Model.Request.Upvotes</a>
                    }

                    @if (!Model.Request.Followed)
                    {
                    <a asp-controller="Request" asp-action="Follow" asp-route-id="@Model.Request.Id" class="btn" style="background-color:#9d65d6; color:white; border-color:white"> <i class="bi bi-person-dash-fill"></i>Follow</a>
                    }
                    else
                    {
                    <a asp-controller="Request" asp-action="Follow" asp-route-id="@Model.Request.Id" class="btn" style="background-color: #a2b0a4; border-color:white"> <i class="bi bi-person-dash-fill"></i>Unfollow</a>
                    }
            </div>

            <p>
                Author: @Model.Request.Author
            </p>

            <p>
                Date Added: @Model.Request.DateAdded
            </p>

            <p>
                Status: @Model.Request.Status
            </p>

            <p>
                Priority: @Model.Request.Priority
            </p>

            <p>
                Link:<link href="@Model.Request.Link" />
            </p>

            <p>
                Motivation: @Model.Request.Motivation
            </p>

            <p>
                Categories: @foreach (var item in Model.Request.Categories)
                {
                    <text>@item, </text>
                }
            </p>

            @if (User.IsInRole("Admin"))
            {
                if (Model.Request.Status == "AwaitingConfirmation")
                {
                    <a asp-controller="Request" asp-action="Approve" asp-route-id="@Model.Request.Id" class="btn btn-success "> <i class="bi bi-person-dash-fill"></i>Approve</a>
                    <a asp-controller="Request" asp-action="Reject" asp-route-id="@Model.Request.Id" class="btn btn-danger "> <i class="bi bi-person-dash-fill"></i>Reject</a>
                }
                else
                {
                    <form method="post" asp-controller="Request" asp-action="Edit" asp-route-id="@Model.Request.Id">
                        <div style="padding-bottom: 20px">
                            <label>Status</label>
                            <select name="status" id="status" for="status" class="form-control">
                                <option selected="@(Model.Request.Status == "AwaitingConfirmation")" name="Status" value="AwaitingConfirmation">AwaitingConfirmation</option>
                                <option selected="@(Model.Request.Status == "InPreparation")" name="Status" value="InPreparation">InPreparation</option>
                                <option selected="@(Model.Request.Status == "Delivering")" name="Status" value="Delivering">Delivering</option>
                                <option selected="@(Model.Request.Status == "Delivered")" name="Status" value="Delivered">Delivered</option>
                                <option selected="@(Model.Request.Status == "Discarded")" name="Status" value="Discarded">Discarded</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success"><i class="bi bi-person-dash-fill"></i>Update</button>
                    </form>
                }
            }
        </div>
    </div>
</div>